<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="watchtower.stain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/orangestain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">

        <activity
            android:name=".QuestionOne"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_question_one"
            android:screenOrientation="landscape"
            android:parentActivityName=".QuestionThree"
            android:theme="@style/FullscreenTheme">

        </activity>
        <activity
            android:name=".QuestionTwo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_question_two"
            android:parentActivityName=".QuestionOne"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".QuestionThree"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_question_three"
            android:parentActivityName=".QuestionTwo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".GraphOne"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_graph_one"
            android:parentActivityName=".QuestionOne"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".GraphTwo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_graph_two"
            android:parentActivityName=".QuestionTwo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".GraphThree"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_graph_three"
            android:parentActivityName=".QuestionThree"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>